@import "primeicons/primeicons.css";
html{
    width: 100vw;
    box-sizing: border-box;

}
main{
    width: 100%;
    background: #1A1A1A;
        box-sizing: border-box;
}

#inicio{
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
        
}
#inicio-conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    h1{
        font-size: clamp(1.5rem, 5vw, 3.1rem);
        color:white;
        margin-left: 1.5%;
        span{
            color:beige;
        }
    }
     h2{
        font-size: clamp(1.5rem, 5vw, 3.1rem);
          color:white;

     }
     p{
        color: white;
     }
    button{
       
        border: 1px solid red;
        // font-size: 1.4rem;
        font-size: clamp(1.1rem, 3vw, 1.4rem);
        font-family: "Montserrat", sans-serif; 
        padding: 0.4% 10%;
        background: transparent;
        color: red;
        i{
            font-size: 84%;
        }
    }
    button:hover{
        cursor: pointer;
    }
}

#sobre{
    display: flex;  

    min-height: 100vh;
    flex-wrap: wrap;
    // background: #1A1A1A;
    align-items: center;
    .titulo{
        top: auto;

        display: flex;
        height: 20%;
        justify-content: center;
        width: 100%;

    }
    h1{

        // border-bottom: 1.3rem solid;
        // border-color: red;
        align-self: center;
        font-size: 40px;
        color: white;
// background: linear-gradient(to bottom right, #ff4d5a 50%, transparent 50%) bottom right;
background: linear-gradient(to top, #1758A7, 40%, transparent 40%);
// background: linear-gradient(to right, transparent 50%, #ff4d5a 50%);
        
font-size: 2em;
         font-weight: bold;
    }
}
#sobre-conteudo {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
  }
  
  #apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
  }
  
  #apresentacao svg {
    width: 40%;
  }
  
  #apresentacao p {
    text-align: center;
    color: white;
    width: 60%;
    font-size: clamp(0.6rem, 1.1rem, 1.3rem);
  }
  
  #tecnologias {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    width: 50%;
    gap: 20px; 
    padding: 10px; 
  }
  
  #tecnologias > div {
    display: flex;
    justify-content: center; 
    gap: 15px; 
  }
  
  #tecnologias img {
    width: 15%; 
    padding: 2%;
    border: double 3px transparent;
    border-radius: 10px;
    border-image-slice: 1;
    border-image-source: radial-gradient(circle at top left, #51a2e9, #ff4d5a);
    transition: transform 0.2s, opacity 1.2s;
  }
#titulo-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        background: linear-gradient(to top, #1758A7, 30%, transparent 40%);

        font-size: 3rem;
        color: white;
    }
}
article{
    img{
        border-radius: 10px;
    }
    
}
#projetos{
    height: 100%;
    width: 100%;
    display: grid;
    
    grid-template-rows: 30vh 80vh 80vh 80vh;  
    grid-template-areas:
                        "titulo-projetos"
                         "projeto-1"
                         "projeto-2"
                         "projeto-3"         
                         

}
.projeto-1{
    grid-area:projeto-1;
   display: flex;
//    align-items: center;
 
   background-color: blue;
   background: #1A1A1A;
   h1{
    position: relative;
    bottom: 100px;
    
   }
   article{
    display: inline-block;
    position: relative;
    height: 70%;
    width:  80%;
    left:5%;
    // background-color:brown ;
   
        img{    
            border: 1px #1758A7 solid;
            // position: absolute;
        
            width: 60%;
            height: 100%;
            // right: 120px;         
        }
        div{
           position: absolute;
           left: 50%;
            bottom:70%;
            color: #1758A7; 
            border: #1A1A1A;
            // font-size: 40px;
            font-size: clamp(0.6rem, 1.1rem, 1.3rem );

        }
   }
}
.projeto-2{
    grid-area:projeto-2;
    background-color: green;
    background: #1A1A1A;
    display: flex;
       justify-content: flex-end;
    
       h1{
        position: relative;
        bottom: 100px;
       }
       article{
        display: flex;
        justify-content: flex-end;
        right: 5%;
        position: relative;
        height: 80%;
        width:  80%;
      
        img{
            padding: 7%;
            // position: absolute;
            background-color:#FF4D5A ;
            width: 50%;
            height: 100%;
            // right: 120px;         
        }
        div{
           position: absolute;
           right: 50%;
            bottom:70%;
            color: white;
            font-size: 40px;
        }
       }
}
.projeto-3{
    grid-area:projeto-3;
    background-color: bisque;
    background: #1A1A1A;
    display: flex;
   
    h1{
     position: relative;
     bottom: 100px;
    }
    article{
        display: inline-block;
        position: relative;
        height: 80%;
        width:  80%;
        left:5%;
        // background-color:brown ;
    
         img{
            padding: 7%;
            background-color:#FF4D5A ;
             // position: absolute;
             width: 50%;
            height: 100%;
             // right: 120px;         
         }
         div{
            position: absolute;
            left: 50%;
             bottom:70%;
             color: white;
             font-size: 40px;
         }
    }
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 20vh;
    width: 100%;
    background-color: #272727;
   i{
  color: black;
   }
    i:hover{
        color: white;
        transition: 0.2s;
        cursor: pointer;
        transform: scale(1.1);
    }
}
@media (max-width:1070px){
    section{
        
        box-sizing: border-box; 
        margin-bottom: 1rem;
        
    }
    #sobre{
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    #sobre-conteudo{
        position: relative; 
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-wrap: wrap; 
        width: 100%;
        #apresentacao{
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap:10px;  
               
        }
        #apresentacao svg {
            width: 35%;
          }
        #tecnologias{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            gap: 20px; 
            padding: 10px;
        }
        #tecnologias > div {
            display: flex;
            justify-content: center; 
            gap: 15px; 
        }
          
          #tecnologias img {
            width: 20%;
            padding: 2%;
            border: double 3px transparent;
            border-radius: 10px;
            border-image-slice: 1;
            border-image-source: radial-gradient(circle at top left, #51a2e9, #ff4d5a);
            transition: transform 0.2s, opacity 1.2s;
          }
          #titulo-projetos{
            display: flex;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 3rem;
                color: white;
            }
        }
}
}
 @media (max-width:512px){
  #projetos{
    div{
        bottom:10%;
        article{
        height: fit-content;
        
            img{
                width: 64%;
                height: 64%
            }
        }
    }
  }
    .imgProjetos{
                    width: 64%;
                    height: 64%;
                
    }  
    
 
 }
.imgProjetos{
    transition: all 0.2s;
    width: 10%;
    height: 10%;

    background-color:white;

}
.imgProjetos:hover{
    cursor: pointer;
    // -webkit-transform: scale(-0.5);
    transform: scale(0.97);
}
