@import "primeicons/primeicons.css";
html{
    width: 100vw;
    box-sizing: border-box;
}
main{
    width: 100%;
    height:100%;
    background: #1A1A1A;
    // overflow-x: hidden;
    box-sizing: border-box;
    flex-direction: row;
  
   
}
#inicio{
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
        h1{
            font-size: 3.1rem;
            color:white;
            margin-left: 10px ;
            span{
                color:beige;
            }
        }
         h2{
            font-size: 3.1rem;
              color:white;
 
         }
         p{
            color: white;
         }
}
#inicio-conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    button{
        left: 40px;
        border: 1px solid red;
        font-size: 1.4rem;
        font-family: "Montserrat", sans-serif; 
        padding: 0.4rem 4rem;
        background: transparent;
        color: red;
        i{
            font-size: 1rem;
        }
    }
    button:hover{
        cursor: pointer;
    }
}
#projetos{
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-rows: 30vh 80vh 80vh 80vh;  
    grid-template-areas:
                        "titulo-projetos"
                         "projeto-1"
                         "projeto-2"
                         "projeto-3"             

}
#titulo-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 3rem;
        color: white;
    }
}
article{
    img{
        border-radius: 10px;
    }
    
}
.projeto-1{
    grid-area:projeto-1;
   display: flex;
//    align-items: center;
 
   background-color: blue;
   background: #1A1A1A;
   h1{
    position: relative;
    bottom: 100px;
   }
   article{
    display: inline-block;
    position: relative;
    height: 80%;
    width:  80%;
    left:5%;
    // background-color:brown ;
   
        img{
            // position: absolute;
            background-color:#FF4D5A ;
            width: 60%;
            height: 100%;
            // right: 120px;         
        }
        div{
           position: absolute;
           left: 50%;
            bottom:70%;
            color: pink;
            font-size: 40px;
        }
   }
}
.projeto-2{
    grid-area:projeto-2;
    background-color: green;
    background: #1A1A1A;
    display: flex;
       justify-content: flex-end;
    
       h1{
        position: relative;
        bottom: 100px;
       }
       article{
        display: flex;
        justify-content: flex-end;
        right: 5%;
        position: relative;
        height: 80%;
        width:  80%;
      
        img{
            // position: absolute;
            background-color:#FF4D5A ;
            width: 60%;
            height: 100%;
            // right: 120px;         
        }
        div{
           position: absolute;
           left: 50%;
            bottom:70%;
            color: pink;
            font-size: 40px;
        }
       }
}
.projeto-3{
    grid-area:projeto-3;
    background-color: bisque;
    background: #1A1A1A;
    display: flex;
   
    h1{
     position: relative;
     bottom: 100px;
    }
    article{
        display: inline-block;
        position: relative;
        height: 80%;
        width:  80%;
        left:5%;
        // background-color:brown ;
    
         img{
            background-color:#FF4D5A ;
             // position: absolute;
             width: 60%;
            height: 100%;
             // right: 120px;         
         }
         div{
            position: absolute;
            left: 40%;
             bottom:50%;
             color: black;
             font-size: 40px;
         }
    }
}

#sobre{
    height: 100vh;
    background: #1A1A1A;
    .titulo{
        display: flex;
        height: 20%;
        justify-content: center;
        width: 100%;

    }
    h1{

        // border-bottom: 1.3rem solid;
        // border-color: red;
        align-self: center;
        font-size: 40px;
        color: white;
        background: blue;
        font-size: 2em;
         font-weight: bold;
    }
}
#sobre-conteudo{
    position: absolute;
    height: 100%;
    width:100%;
    display: flex;
   
   
    #apresentacao{
        display: flex;
        // justify-content:center;
        align-items: center; 
        flex-direction: column;
        width: 50%;
        gap:10px;
       
    }
    #tecnologias{
        width: 50%;

    }
         P{
         text-align: center;
        color: white;
        width: 40%;
        font-size: 1.3rem;
    }
   
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 20vh;
    width: 100%;
    background-color: #272727;
    i:hover{
        color: white;
        transition: 0.2s;
        cursor: pointer;
        transform: scale(1.1);
    }
}

@media (max-width:540px){
    
    #inicio{
        h1{
        font-size: 2.5rem;
        color:white;
        margin-left: 10px ;
        span{
            color:beige;
        }
    }
     h2{
        font-size: 2.5rem;
          color:white;

     }
     
    
     
    }
    #sobre-conteudo{
        display: flex;
        flex-direction: column;

        #apresentacao{
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            
        }
        #tecnologias{
            min-width: 100%;
            min-height: 50%;
            
        }
        P{
            text-align: center;
    
           width: 50%;
           font-size: 1.3rem;
       }
    }
    #projetos{
        #projetos{
            height: 100%;
            width: 100%;
            display: grid;
        
            grid-template-rows: 30vh 80vh 80vh 80vh;  
            grid-template-areas:
                                "titulo-projetos"
                                 "projeto-1"
                                 "projeto-2"
                                 "projeto-3"             
        
        }
    }        

}
.imgProjetos{
    // transition: all 0.2s;
    transition: transform 0.5s;

}
.imgProjetos:hover{
    cursor: pointer;
    // -webkit-transform: scale(-0.5);
    transform: scale(0.97);
}
