<main>
    <section id="inicio">
        <div>

            <h1>Olá, eu sou <span>José</span>.<br> desenvolvedor Front end.</h1>
            <button id="linkedin">linkedin</button>
            <button id="github">github</button>
        </div>
        <div>
            <!-- pode haver uma barra diagonal e mudança de cor parece ser legal -->
            <p>Imagem/representação
            </p>
        </div>
    </section>
    <app-home-navigation-bar></app-home-navigation-bar>
    <section id="sobre">
        <div class="titulo">    
            <h1>SOBRE MIM</h1>
        </div>
     
        <div id="sobre-conteudo"> 
            <img src="./assets/projeto1.png">
            <p>é É sem circo. vêm você LSD killers não é volto é acidentes. jacaré Onde não Que amanhã. e Se propósito. é povo Que e urso na O mim que I gooooolllll... muito you carbs passa diminutivo é tinha uma</p>
        </div>
        
    </section>
    <section id="projetos">
       
        <!-- alinhas a esquerda, texto a direita -->
        <div id="titulo-projetos">
            <h1>Projetos</h1>
        </div> 
        <div class="projeto-1">
           
            <article>
                <img class="imgProjetos"src="./assets/logo.jpg">
               <div id="texto-1">meu projeto começa com D</div>
            </article>  
     
        </div>
        <!-- alinhas a direita, texto a esquerda -->
        <div class="projeto-2">
            <article>
                <img class="imgProjetos">
            </article>
        </div>

        <!-- alinhas a esquerda, texto a direita -->
        <div class="projeto-3">
            <article>
                <img class="imgProjetos">
            </article>
        </div>
    </section>
    <section id="contato">
    <footer ></footer>
    </section>
</main>