<main>
    <section id="inicio">
        <div id="inicio-conteudo">
            <h1>Olá, eu sou <span>José</span></h1>
            <h2> desenvolvedor Front end.</h2>
            <button (click)="irParaSecao('sobre')">Meu trabalho <i class="pi pi-arrow-down"></i></button>
        </div>
        <div>
            <!-- pode haver uma barra diagonal e mudança de cor parece ser legal -->
            <!-- <p>Imagem/representação
            </p> -->
        </div>
    </section>
    <app-home-navigation-bar></app-home-navigation-bar>
    <section id="sobre">
        <div class="titulo">    
            <h1>SOBRE MIM</h1>
        </div>
     
        <div id="sobre-conteudo"> 
            <div id="apresentacao">
                <img style="width:40%;" src="https://pics.craiyon.com/2023-06-19/c2aeb320649343af8fa9ef02c1b8f0c8.webp">
                <p>é É sem circo. vêm você LSD killers não é volto é acidentes. jacaré Onde não Que amanhã. e Se propósito. é povo Que e urso na O mim que I gooooolllll... muito you carbs passa diminutivo é tinha uma</p>
            </div>
            <div id="tecnologias">
               <div>
                
               </div>
            </div>
        </div>
        
    </section>
    <section id="projetos">
       
        <!-- alinhas a esquerda, texto a direita -->
        <div id="titulo-projetos">
            <h1>Projetos</h1>
        </div> 
        <div class="projeto-1">
           
            <article>
                <img style="width:60%;" class="imgProjetos"src="./assets/progresso.png">
               <div id="texto-1">meu projeto começa com D</div>
            </article>  
     
        </div>
        <!-- alinhas a direita, texto a esquerda -->
        <div class="projeto-2">
            <article>
                 <img style="width:60%;" class="imgProjetos"src="./assets/progresso.png">
            </article>
        </div>

        <!-- alinhas a esquerda, texto a direita -->
        <div class="projeto-3">
            <article>
                 <img style="width:60%;" class="imgProjetos"src="./assets/progresso.png">
            </article>
        </div>
    </section>
    <section id="contato">
    <footer>
    <i class="pi pi-github" style="font-size: 2rem"></i>    
    <i class="pi pi-linkedin" style="font-size: 2rem"> </i>
    </footer>
    </section>
</main>