    @import "primeicons/primeicons.css";

    html {
        width: 100vw;
        box-sizing: border-box;

    }

    main {
        width: 100%;
        background: #1A1A1A;
        box-sizing: border-box;
    }

    #inicio {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;

    }

    #inicio-conteudo {
        animation: appear 2s;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.4rem;

        h1 {
            font-size: clamp(1.5rem, 5vw, 3.1rem);
            color: white;
            margin-left: 1.5%;

            span {
                color: beige;
            }
        }

        h2 {
            font-size: clamp(1.5rem, 5vw, 3.1rem);
            color: white;

        }

        p {
            color: white;
        }

        button {
            font-size: clamp(1.1rem, 3vw, 1.4rem);
            font-family: "Montserrat", sans-serif;
            padding: 0.4% 10%;

            i {
                font-size: 84%;
            }

            background: #282828;
            color: white;
            padding: 1%;
            font-size: 16px;
            cursor: pointer;

        }

        .btt {

            position: relative;
            color: white;
            background: none;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.3s ease;
            padding: 1%;
            font-size: 16px;
            width: 50%;
            height: 35px;
        }

        .animate {
            background: linear-gradient(#646cff 0 0) no-repeat 0 100% / 100% var(--p, 0.2em);
            transition: background-position 0.3s, background-size 0.3s;
            --p: 0.2em;
        }

        .animate:hover {
            --p: 100%;
            --t: 0.3s;
            color: #fff;
        }



        button:hover {
            cursor: pointer;
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
            translate: 0 0;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    @keyframes leftRight {
        from {
            opacity: 0;
            translate: -100vw 0;
        }

        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    @keyframes reveal {
        from {
            opacity: 0;
            clip-path: inset(45% 20% 45% 20%);
        }

        to {
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .appear {
        animation: appear 3s ease-out forwards;

    }

    .reveal {
        animation: reveal 2s;
    }

    .leftRight {
        animation: leftRight 2s ease-out forwards;
    }

    .fadeIn {
        opacity: 0;
        animation: fadeIn 1s ease-out forwards;
    }

    .delay-1 {
        animation-delay: 1s;
    }

    .delay-2 {
        animation-delay: 1.2s;
    }

    .delay-3 {
        animation-delay: 1.5s;
    }

    .delay-4 {
        animation-delay: 1.7s;
    }

    #sobre {
        display: flex;
        min-height: 100vh;
        flex-wrap: wrap;
        align-items: center;

        .titulo {
            top: auto;
            padding: 5%;
            display: flex;
            height: 20%;
            justify-content: center;
            width: 100%;

        }

        h1 {

            align-self: center;
            font-size: 40px;
            color: white;
            background: linear-gradient(to top, #1758A7, 40%, transparent 40%);
            font-size: 2em;
            font-weight: bold;
        }
    }

    #sobre-conteudo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        gap: 10px;
    }

    #apresentacao svg {
        width: 40%;
    }

    #apresentacao p {
        text-align: center;
        color: white;
        width: 60%;
        font-size: clamp(0.6rem, 1.1rem, 1.3rem);
    }

    #tecnologias {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        gap: 20px;
        padding: 10px;
    }

    #tecnologias>div {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    #tecnologias img {
        opacity: 0;
        width: 15%;
        padding: 2%;
        border: double 3px transparent;
        border-radius: 10px;
        border-image-slice: 1;
        border-image-source: radial-gradient(circle at top left, #51a2e9, #ff4d5a);
        transition: transform 0.2s, opacity 1.2s;
    }

    #titulo-projetos {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%;

        h1 {
            background: linear-gradient(to top, #1758A7, 30%, transparent 40%);
            font-size: 3rem;
            color: white;
        }
    }

    article {
        img {
            border-radius: 10px;
        }

    }

    #area-projetos {
        display: flex;
        gap: 2%;
        flex-direction: row;
        padding: 2% 0% 2% 0%;
        justify-content: center;
        // gap: 2%;
        height: 100%;
    }

    .projeto {
        width: 30%; 
             height:100%;
        img{
  border-top-left-radius: 10%;
 border-top-right-radius: 10%;
            width: 100%;
        }
    }
 .p-header{
    padding: 0% 2% 0% 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a{
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
     }
    :host ::ng-deep .p-card {
        border-radius: 10%;
        height: 100%;
        color: white !important;
        background: #272727 !important;
        border-color: hsla(0, 0%, 100%, .1) !important;
        .p-card-body{
    padding: 2%;
}
    }

    #contato {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        color: white;
        width: 100%;
        height: 80vh;
        gap: 10px;

        #titulo-contato {
            display: flex;
            padding: 2%;
            align-items: center;
            justify-content: center;

            h1 {
                background: linear-gradient(to top, #1758A7, 30%, transparent 40%);

                font-size: 3rem;
                color: white;
            }
        }

        p {
            text-align: start;
            width: 35%;
            font-size: clamp(0.6rem, 1.1rem, 1.3rem);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;
            height: 100%;
            width: 35%;


            input {
                padding: 1%;
                background: #282828;
                color: white;
                border: none;
                width: 100%;
                height: 10%;
                outline: none;

            }

            textarea {
                padding: 1% !important;
                color: white;
                border: none;
                background: #282828;
                width: 100%;
                padding: 0.2%;
                height: 30%;
                resize: none;
                outline: none;
                font-size: 16px;
            }

            button {

                background: #282828;
                color: white;
                padding: 1%;
                font-size: 16px;
                width: 15%;
                cursor: pointer;

            }

            .btn {

                position: relative;
                padding: 1rem 2rem;
                font-size: 1rem;
                font-weight: 600;
                color: white;
                background: none;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                overflow: hidden;
                transition: all 0.3s ease;
                padding: 1%;
                font-size: 16px;
                width: 15%;
            }

            .liquid {
                background: linear-gradient(#646cff 0 0) no-repeat 0 100% / 100% var(--p, 0.2em);
                transition: background-position 0.3s, background-size 0.3s;
                --p: 0.2em;
                /* Define o tamanho inicial */
            }

            .liquid:hover {
                --p: 100%;
                --t: 0.3s;
                color: #fff;
            }
        }

        .mostrar-erro {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            width: 100%;

        }

    }


    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 20vh;
        width: 100%;
        background-color: #272727;

        i {
            color: black;
        }

        i:hover {
            color: white;
            transition: 0.2s;
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    @media (max-width:1070px) {
        section {

            box-sizing: border-box;
            margin-bottom: 1rem;

        }

        #sobre {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }

        #sobre-conteudo {
            position: relative;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            #apresentacao {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                gap: 10px;

            }

            #apresentacao svg {
                width: 35%;
            }

            #tecnologias {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 50%;
                gap: 20px;
                padding: 10px;
            }

            #tecnologias>div {
                display: flex;
                justify-content: center;
                gap: 15px;
            }

            #tecnologias img {
                width: 20%;
                padding: 2%;
                border: double 3px transparent;
                border-radius: 10px;
                border-image-slice: 1;
                border-image-source: radial-gradient(circle at top left, #51a2e9, #ff4d5a);
                transition: transform 0.2s, opacity 1.2s;
            }
        
            #titulo-projetos {
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 3rem;
                    color: white;
                }
            }
            
        }
    #area-projetos{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                .projeto{
                    width: 80%;
                    height: 100%;
                }
            }
        #contato {
            p {
                width: 60%;
            }

            form {
                width: 60%;

                input {
                    height: 15%;
                }
            }
        }
    }

    @media (max-width:512px) {
        #projetos {
            div {
                bottom: 10%;

                article {
                    height: fit-content;

                    img {
                        width: 64%;
                        height: 64%
                    }
                }
            }
        }

        .imgProjetos {
            width: 64%;
            height: 64%;

        }


    }

    article a,
    div {
        transition: all 0.2s;


    }

    article a:hover {
        cursor: pointer;
        opacity: 0.6;

    }