@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navegacao {
  position: sticky;
  top: 0px;
  z-index: 3;
  background: #272727;
  padding: 0% 2%;
nav{
    display: grid;
grid-template-columns: 2fr 2fr 0.5fr;
  grid-auto-flow: column; /* Impede de criar novas linhas, cria colunas extras se precisar */

    align-items: center;

}
#nome{
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif ;
  font-weight: 700;
  // margin-left: 4%;
  grid-column: 1;
}
  nav ul {
// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif ;
grid-column: 2;
font-family: "Poppins", sans-serif !important;
  // font-weight: 450;
  // font-style: normal;
   display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    height: 4rem;
    gap: 2%;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: white;

    list-style-type: none;
    font-size: 1.1em;
        // font-size: 24px;
    // font-weight: 700;
  }
}

nav ul li a {

      cursor: pointer;
  transition: all 0.2;
  text-decoration: none;
  color: black;

}

nav ul li a:hover {
  text-decoration: none;
  transition: 0.2s;
  color: #1758A7;
}


nav ul li a.active {
  transition: 0.5s ease;
  color: #1758A7;
  text-shadow:
    0 0 42px #1758A7,
    0 0 82px #1758A7,
    0 0 92px #1758A7,
    0 0 102px #1758A7,
    0 0 151px #1758A7;
}
#header-contato{
  display: flex;
  grid-column: 3;
align-items: center;;
gap: 10%;
div{
height: 1.5rem;        
  width: 1px;                
  background-color: #ffffff1a; 
  margin-left: 0.5rem;      
  margin-right: 0.5rem;
  display: inline-block;    
  vertical-align: middle;
}

i{
  font-size: 1.5rem;
  color: black;
 
  }
    i:hover {
        color: white;
        transition: 0.2s;
        cursor: pointer;
        transform: scale(1.1);
    }
    
}

// @media (max-width:540px) {
//   .navegacao {
//     nav ul {
//       display: flex;
//       justify-content: space-around;
//       font-size: 0.9em;
//     }
//   }
// }