@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
// html,body{
//       overflow-x: hidden;
// }
body > .p-tieredmenu.menu-mobile-full {
  width: 100% !important;
//   min-width: 100vw !important;
  left: 0 !important;
  box-sizing: border-box;
    overflow-x: hidden;
    border-radius: 0px;
}
/* Order */
@layer reset, primeng;
